@require './config';
@require './nprogress';
@require './code';
@require './custom-blocks';
@require './arrow';
@require './wrapper';
@require './toc';


// @import url("https://fonts.googleapis.com/css?family=Kanit:500,900i|Roboto:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Kanit:600,900i|Raleway:400,500,700");
@import url("https://unpkg.com/splitting@0.9.11/splitting.css");

html, body {
  padding: 0;
  margin: 0;
  // font-family: 'Roboto', sans-serif;
  // font-weight: 400;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  background: $bgColor;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.6;
  color: $textColor;
}

.page {
  padding-left: $sidebarWidth;
}

.navbar {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  height: $navbarHeight;
  background-color: $bgColor;
  box-sizing: border-box;
  border-bottom: 1px solid $borderColor;
}

.sidebar-mask {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}

.sidebar {
  font-size: 15px;
  background-color: $bgColor;
  width: $sidebarWidth;
  position: fixed;
  z-index: 10;
  margin: 0;
  top: $navbarHeight;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  border-right: 1px solid $borderColor;
  overflow-y: auto;
}

.content:not(.custom) {
  @extend $wrapper;

  > *:first-child {
    margin-top: $navbarHeight;
  }

  a:hover {
    text-decoration: underline;
  }

  p.demo {
    padding: 1rem 1.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  img {
    max-width: 100%;
  }
}

.content.custom {
  padding: 0;
  margin: 0;

  img {
    max-width: 100%;
  }
}

a {
  font-weight: 700;
  color: $accentColor;
  text-decoration: none;
}

p a code {
  font-weight: 400;
  color: $accentColor;
}

kbd {
  background: #eee;
  border: solid 0.15rem #ddd;
  border-bottom: solid 0.25rem #ddd;
  border-radius: 0.15rem;
  padding: 0 0.15em;
}

blockquote {
  font-size: 1.2rem;
  color: #999;
  border-left: 0.25rem solid #dfe2e5;
  margin-left: 0;
  padding-left: 1rem;
}

ul, ol {
  padding-left: 1.2em;
}

strong {
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.25;
  font-family: 'Kanit', sans-serif;

  .content:not(.custom) > & {
    margin-top: 1rem - $navbarHeight;
    padding-top: ($navbarHeight + 1rem);
    margin-bottom: 0;

    &:first-child {
      margin-top: -1rem;
      margin-bottom: 1rem;

      + p, + pre, + .custom-block {
        margin-top: 2rem;
      }
    }
  }

  &:hover .header-anchor {
    opacity: 1;
  }
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5em;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid $borderColor;
}

h3 {
  font-size: 2rem;
}

a.header-anchor {
  font-size: 0.85em;
  float: left;
  margin-left: -0.87em;
  padding-right: 0.23em;
  margin-top: 0.125em;
  opacity: 0;

  &:hover {
    text-decoration: none;
  }
}

code, kbd, .line-number {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

p, ul, ol {
  line-height: 1.6;
}

hr {
  border: 0;
  border-top: 1px solid $borderColor;
}

table {
  border-collapse: collapse;
  margin: 1rem 0;
  display: block;
  overflow-x: auto;
}

tbody tr {
  border-top: 1px dotted lighten($borderColor,10%);
}
thead,
tr:nth-child(2n) {
  background-color: darken($bgColor, 10%);
}


th, td {
  // border-top: 1px dotted $borderColor;
  padding: 0.5em .5em;
}

.custom-layout {
  padding-top: $navbarHeight;
}

.theme-container {
  &.sidebar-open {
    .sidebar-mask {
      display: block;
    }
  }

  &.no-navbar {
    .content:not(.custom) > h1, h2, h3, h4, h5, h6 {
      margin-top: 1.5rem;
      padding-top: 0;
    }

    .sidebar {
      top: 0;
    }

    .custom-layout {
      padding-top: 0;
    }
  }
}

@media (min-width: (($MQMobile + 1px))) {
  .theme-container.no-sidebar {
    .sidebar {
      display: none;
    }

    .page {
      padding-left: 0;
    }
  }
}

@require './mobile.styl';
